@import "tailwindcss";

@theme {
    --color-primary: #5200c4; /* Vermelho principal */
    --color-primary-light: #8A2BE2; /* Vermelho escuro (hover) */
    --color-secondary: #00C2A8; /* Preto */
    --color-accent: #00B4FF; /* Branco */
    --color-dark: #121212; /* Quase preto (fundos) */
    --color-light: #ffffff;
    --fonte-sans: 'Inter';
    --fonte-display: 'Plus Jakarta Sans'; /* Branco suave (fundos alternativos) */
  }